.login__popup {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(#000, 0.8);
  &.active {
    display: flex;
  }
  &-content {
    background-color: #fff;
    padding: 30px;
    text-align: center;
    border-radius: 15px;
  }
  &-title {
    margin: 0;
    font-weight: 500;
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  &-text {
    margin: 0;
    a {
      text-decoration: none;
      color: #0095f6;
      font-weight: 500;
    }
  }
}
