.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  height: 100vh;
  & > * {
    border: 1px solid #dbdbdb;
    width: 350px;
    background-color: #fff;
  }
  &__form {
    padding: 46px 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__logo {
    width: 175px;
    height: 50px;
    margin-bottom: 36px;
  }
  &__input {
    padding: 10px;
    width: 100%;
    margin-bottom: 5px;
    border-radius: 5px;
    border: 1px solid #dbdbdb;
  }
  &__button {
    width: 100%;
    border: 0;
    font-weight: 700;
    color: #fff;
    background-color: #0095f6;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    &:disabled {
      cursor: default;
      background-color: lighten(#0095f6, 30);
    }
  }
  &__link {
    padding: 30px 40px;
    p {
      margin: 0;
      text-align: center;
    }
    a {
      text-decoration: none;
      font-weight: 500;
      color: #007acc;
    }
  }
}
