@import 'normalize.css';
@import 'variables.scss';

@import 'modules/login.scss';
@import 'modules/header.scss';
@import 'modules/navbar.scss';
@import 'modules/error.scss';
@import 'modules/newPostPopup.scss';
@import 'modules/homepage.scss';

* {
  box-sizing: border-box;
}

:root {
  font-size: 14px;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  background-color: #fafafa;
}

.App {
  min-height: 100vh;
}

.main {
  padding-top: 30px;
}

.container {
  max-width: 975px;
  padding: 0 20px;
  margin: 0 auto;
}