@import 'normalize.css';
@import 'variables.scss';

@import 'modules/login.scss';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
}